[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.8.0"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
torch = "*"
seaborn = "*"
yfinance = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.8"
